body {
    height: 100vh;
}

.papers-list {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.papers-container {
    width: 50%;
    margin: auto;
}

#Higher-Education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Higher-Education h1 {
    padding: 10px;
}

#Higher-Education p {
    padding: 10px;
}