
.wrapper {
    width: 50%;
    margin: auto;
    position: relative;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.container {
    font-family: 'Fondamento', cursive;
}

.header {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.header a {
    padding: -2px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}
.header a:hover {
    border-bottom: 1px solid black;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.main div h2 {
    text-decoration: underline;
}

.objective {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.objective h2 {
    text-decoration: underline;
}

.coding-skills ul li {
    list-style: square;
}

.current-focus li {
    list-style-type: upper-roman;
}

.current-focus ol > li::marker {
    font-weight: bold;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
}

.download p {
    font-weight: bold;
    font-size: 20px;
}

.download a {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}

.download a:hover {
    background-color: black;
    color: white;
}