body, html{
    height: 100%;
    font-family: 'Special Elite', cursive;
    background-color: white;
}
.container{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: 'Tillana', cursive;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 50px;
}

.form{
    display: flex;
    justify-content: center;   
}
.form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form input{
    padding: 10px;
    margin: 20px;
    font-size: 22px;
    color: #34495e;
    font-family: 'Special Elite', cursive;
    border-radius: 3px;
    border: none;
}
input:focus{
    outline: none;
    border-bottom: 7px solid #9fd3c7;
} 

.textarea{
    resize:  vertical;
    width: 80%;
    font-size: 20px;
    padding: 10px;
    font-family: 'Tillana', cursive;
    font-style: italic;
    border-radius: 3px;
    border: none;
}
.textarea:focus{
    outline: none;
    border-bottom: 7px solid #9fd3c7;
}

input[type="submit"]{
    border: none;
    color: #e4f1fe;
    background-color: #142d4c;
    transition: 0.4s ease-in-out;
    border-radius: 3px;
}
input[type="submit"]:hover{
    background-color: #ececec;
    color: black;
}

