a{
    color: white;
}

/* Nav Bar */
.nav-bar{
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 888;
    background-color: black;
}
.on-scroll-nav{
    position: sticky;
    background-color: black;
    padding: 10px;
    font-size: 16px;
}

.logo{
    font-family: 'Rubik Distressed', cursive;
    font-size: 32px;
    color: #ffd700;
}

.nav-container{
    font-size: 20px;
    color: white;
}

.nav-items{
    position: relative;
    margin-right: 20px;
}
.nav-items::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.nav-items:hover::before{ 
    transform: scaleX(1);
    transform-origin: bottom left;
}

.highlighted::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}