@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
/* font-family: 'Almendra Display', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');
/* font-family: 'Alumni Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* font-family: 'Amotic SC', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/* font-family: 'Allerta Stencil', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
/* font-family: 'Fondamento', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* font-family: 'Space Grotesk', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

button {
    color: black;
    background-color: white;
    border: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.none {
    display: none;
}

.block {
    display: block;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-center-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}
